#create your won .env file and replace with your own URI 
DATABASE_LOCAL=mongodb+srv://<username>:<password>@cluster0.3ioq0an.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

DATABASE_PROD=

DB_NAME=medical

# CREDENTIALS
# replace with your own credentials 


DATABASE_LOCAL_USERNAME=

DATABASE_LOCAL_PASSWORD=


# ENVIRONMENT

NODE_ENV=development


# CLIENT SIDE URL [replace with your own urls]

CLIENT=your url
LOCAL_CLIENT=http://localhost:***


# token secret for jwt authentication
ACCESS_TOKEN_SECRET=

#stripe 
SRTIPE_KEY=
## nodemailer email pass
MAIL_EMAIL=
MAIL_PASSWORD=
#providers secret 
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
APP_ID=
SERVER_SECRET=